<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="{{ LANGUAGE_CODE }}">
    <head>
        {% block meta %}
                <title>OpusAtlas</title>
        {% endblock %}
        
        <!--
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
        -->
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
        
        {% block viewport %}
            <meta name="viewport" content="width=device-width" />
        {% endblock %}
        
        {% block head-css-files %}
        {% endblock %}
    
        <style type="text/css">
            body {
                background-image: url("/static/img/blue-gradient.jpg");
                background-repeat: repeat;
                font-family: 'RobotoRegular', 'Droid Sans', sans-serif;
                margin: 0px;
            }
        
            {% block head-css %}
            {% endblock %}
        </style>
        
        <script type="application/x-javascript">
            {% block head-js %}
            {% endblock %}
        </script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
