{% extends "template.html" %}

{% block head-css %}
    .splash-title {
        color: white;
        text-align: center;
        font-size: 22px;
        margin: 50px auto 20px auto;
    }
    .emoji-text {
        text-align: center;
        color: white;
        font-size: 18px;
        position: fixed;
        bottom: 150px;
        width: 100%;
    }
    .status-face {
        background-image: url("/static/img/blank-face2.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 200px;
        height: 162px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        padding-bottom: 100px;
    }
    .status-face.occupied {
        background-size: 200px 162px;
        margin-top: 100px;
    }
    .status-face.occupied-oversized {
        background-size: 200px 300px;
        padding-bottom: 170px;
        margin-top: -50px
    }
    .status-face#f {
        margin-top: -10px;
    }
    .emoji-outer-selection-box {
        width: 100%;
        overflow-x: scroll;
        height: 110px;
        position: fixed;
        bottom: 0px;
        background-color: white;
        padding-top: 30px;
    }
    .emoji-selection-box {
        padding-top:15px;
        width: 5350px;
        height: 50px;
    }
    .emoji-choice img {
        height: 40px;
        width: 46px;
    }
    .emoji-choice.oversized {
        margin-top: -5px;
    }
    .emoji-choice {
        float: left;
        margin-left: 10px;
        margin-right: 10px;
    }
    .emoji-choice.oversized img {
        height: 74.12px;
        width: 46px;
        margin-top: -15px;
    }
    .checkbox {
        display: none;
        height: 30px;
        width:30px;
        background-repeat: no-repeat;
        background: url("/static/img/check-box.png");
        position: fixed;
        top: 10px;
        right: 10px;
    }
{% endblock %}


{% block head-js %}
    
    var redirectTimeout;
    
    $(document).ready( function () {
        $(".emoji-choice").click(function() {
            if (redirectTimeout != "TEMP") {
                clearTimeout(redirectTimeout);
            }
            $(".checkbox").show();
            if ($(this).attr("data-text") != $(".emoji-text").text()) {
                $(".emoji-text").empty().append("<span>" + $(this).attr("data-text") + "</span>").find("span").hide().fadeIn(3000).fadeOut(3000);
            }
            if ($(this).is(".oversized")) {
                $(".status-face").css("background-image", 'url("' + $(this).find("img").attr("src") + '")')
                    .addClass("occupied-oversized").removeClass("occupied").attr("id", $(this).attr("id"));
            } else {
                $(".status-face").css("background-image", 'url("' + $(this).find("img").attr("src") + '")')
                    .addClass("occupied").removeClass("occupied-oversized").attr("id", $(this).attr("id"));
            }
            sendEmoji($(this).attr("id"));
            if (redirectTimeout != "TEMP") {
                redirectTimeout = setTimeout(function() { window.location = "/visualization/flumoji/splashRedirect?datastore_owner={{ uuid }}&bearer_token={{ access_token }}"; }, 3000);
            } else {
                redirectTimeout = undefined;
            }
        });
        {% if latestEmoji %}
            redirectTimeout = "TEMP";
            $(".emoji-choice#{{ latestEmoji }}").eq(0).click();
        {% endif %}
        
        $('.emoji-outer-selection-box').animate({
            scrollLeft: $(".emoji-choice:last-child").offset().left
         }, 140000, "linear", function() {
        }).on('touchstart', function() {
            clearTimeout(redirectTimeout);
            $(this).stop();
        });
    });
    
    function sendEmoji(id) {
        $.ajax({
            url: '/visualization/flumoji/sendEmoji',
            type: "POST",
            data: { access_token: "{{ token }}",
                       ds: "{{ uuid }}",
                       emoji: id
                   },
            dataType: "json",
            success: function(returnData) {
               
            }
        });
    }
{% endblock %}

{% block content %}
    <div class="splash-title">
        How are you feeling today?
    </div>
        
    <div class="emoji-text"></div>
    <div class="checkbox"></div>
    
    <div class="status-face"></div>
    
    <div class="emoji-outer-selection-box">
        <div class="emoji-selection-box">
            <div class="emoji-choice" data-text="healthy" id="h">
                <img src="/static/img/emoji-happy.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="flu" id="u">
                <img src="/static/img/emoji-flu.png" alt="">
            </div>
            <div class="emoji-choice" data-text="runny nose" id="r">
                <img src="/static/img/emoji-runnynose.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="body ache" id="l">
                <img src="/static/img/emoji-chills.png" alt="">
            </div>
            <div class="emoji-choice" data-text="nauseous" id="s">
                <img src="/static/img/emoji-sick.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="fever" id="f">
                <img src="/static/img/emoji-fever.png" alt="">
            </div>
            <div class="emoji-choice" data-text="cough" id="c">
                <img src="/static/img/emoji-cough.png" alt="">
            </div>
            <div class="emoji-choice" data-text="fatigued" id="y">
                <img src="/static/img/emoji-sleepy.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="vomiting" id="n">
                <img src="/static/img/emoji-nauseous.png" alt="">
            </div>
            
            <!-- REPEATED A BUNCH OF TIMES -->
            
                        <div class="emoji-choice" data-text="healthy" id="h">
                <img src="/static/img/emoji-happy.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="flu" id="u">
                <img src="/static/img/emoji-flu.png" alt="">
            </div>
            <div class="emoji-choice" data-text="runny nose" id="r">
                <img src="/static/img/emoji-runnynose.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="body ache" id="l">
                <img src="/static/img/emoji-chills.png" alt="">
            </div>
            <div class="emoji-choice" data-text="nauseous" id="s">
                <img src="/static/img/emoji-sick.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="fever" id="f">
                <img src="/static/img/emoji-fever.png" alt="">
            </div>
            <div class="emoji-choice" data-text="cough" id="c">
                <img src="/static/img/emoji-cough.png" alt="">
            </div>
            <div class="emoji-choice" data-text="fatigued" id="y">
                <img src="/static/img/emoji-sleepy.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="vomiting" id="n">
                <img src="/static/img/emoji-nauseous.png" alt="">
            </div>
                        <div class="emoji-choice" data-text="healthy" id="h">
                <img src="/static/img/emoji-happy.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="flu" id="u">
                <img src="/static/img/emoji-flu.png" alt="">
            </div>
            <div class="emoji-choice" data-text="runny nose" id="r">
                <img src="/static/img/emoji-runnynose.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="body ache" id="l">
                <img src="/static/img/emoji-chills.png" alt="">
            </div>
            <div class="emoji-choice" data-text="nauseous" id="s">
                <img src="/static/img/emoji-sick.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="fever" id="f">
                <img src="/static/img/emoji-fever.png" alt="">
            </div>
            <div class="emoji-choice" data-text="cough" id="c">
                <img src="/static/img/emoji-cough.png" alt="">
            </div>
            <div class="emoji-choice" data-text="fatigued" id="y">
                <img src="/static/img/emoji-sleepy.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="vomiting" id="n">
                <img src="/static/img/emoji-nauseous.png" alt="">
            </div>
                        <div class="emoji-choice" data-text="healthy" id="h">
                <img src="/static/img/emoji-happy.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="flu" id="u">
                <img src="/static/img/emoji-flu.png" alt="">
            </div>
            <div class="emoji-choice" data-text="runny nose" id="r">
                <img src="/static/img/emoji-runnynose.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="body ache" id="l">
                <img src="/static/img/emoji-chills.png" alt="">
            </div>
            <div class="emoji-choice" data-text="nauseous" id="s">
                <img src="/static/img/emoji-sick.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="fever" id="f">
                <img src="/static/img/emoji-fever.png" alt="">
            </div>
            <div class="emoji-choice" data-text="cough" id="c">
                <img src="/static/img/emoji-cough.png" alt="">
            </div>
            <div class="emoji-choice" data-text="fatigued" id="y">
                <img src="/static/img/emoji-sleepy.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="vomiting" id="n">
                <img src="/static/img/emoji-nauseous.png" alt="">
            </div>
                        <div class="emoji-choice" data-text="healthy" id="h">
                <img src="/static/img/emoji-happy.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="flu" id="u">
                <img src="/static/img/emoji-flu.png" alt="">
            </div>
            <div class="emoji-choice" data-text="runny nose" id="r">
                <img src="/static/img/emoji-runnynose.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="body ache" id="l">
                <img src="/static/img/emoji-chills.png" alt="">
            </div>
            <div class="emoji-choice" data-text="nauseous" id="s">
                <img src="/static/img/emoji-sick.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="fever" id="f">
                <img src="/static/img/emoji-fever.png" alt="">
            </div>
            <div class="emoji-choice" data-text="cough" id="c">
                <img src="/static/img/emoji-cough.png" alt="">
            </div>
            <div class="emoji-choice" data-text="fatigued" id="y">
                <img src="/static/img/emoji-sleepy.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="vomiting" id="n">
                <img src="/static/img/emoji-nauseous.png" alt="">
            </div>
                        <div class="emoji-choice" data-text="healthy" id="h">
                <img src="/static/img/emoji-happy.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="flu" id="u">
                <img src="/static/img/emoji-flu.png" alt="">
            </div>
            <div class="emoji-choice" data-text="runny nose" id="r">
                <img src="/static/img/emoji-runnynose.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="body ache" id="l">
                <img src="/static/img/emoji-chills.png" alt="">
            </div>
            <div class="emoji-choice" data-text="nauseous" id="s">
                <img src="/static/img/emoji-sick.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="fever" id="f">
                <img src="/static/img/emoji-fever.png" alt="">
            </div>
            <div class="emoji-choice" data-text="cough" id="c">
                <img src="/static/img/emoji-cough.png" alt="">
            </div>
            <div class="emoji-choice" data-text="fatigued" id="y">
                <img src="/static/img/emoji-sleepy.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="vomiting" id="n">
                <img src="/static/img/emoji-nauseous.png" alt="">
            </div>
                        <div class="emoji-choice" data-text="healthy" id="h">
                <img src="/static/img/emoji-happy.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="flu" id="u">
                <img src="/static/img/emoji-flu.png" alt="">
            </div>
            <div class="emoji-choice" data-text="runny nose" id="r">
                <img src="/static/img/emoji-runnynose.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="body ache" id="l">
                <img src="/static/img/emoji-chills.png" alt="">
            </div>
            <div class="emoji-choice" data-text="nauseous" id="s">
                <img src="/static/img/emoji-sick.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="fever" id="f">
                <img src="/static/img/emoji-fever.png" alt="">
            </div>
            <div class="emoji-choice" data-text="cough" id="c">
                <img src="/static/img/emoji-cough.png" alt="">
            </div>
            <div class="emoji-choice" data-text="fatigued" id="y">
                <img src="/static/img/emoji-sleepy.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="vomiting" id="n">
                <img src="/static/img/emoji-nauseous.png" alt="">
            </div>
                        <div class="emoji-choice" data-text="healthy" id="h">
                <img src="/static/img/emoji-happy.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="flu" id="u">
                <img src="/static/img/emoji-flu.png" alt="">
            </div>
            <div class="emoji-choice" data-text="runny nose" id="r">
                <img src="/static/img/emoji-runnynose.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="body ache" id="l">
                <img src="/static/img/emoji-chills.png" alt="">
            </div>
            <div class="emoji-choice" data-text="nauseous" id="s">
                <img src="/static/img/emoji-sick.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="fever" id="f">
                <img src="/static/img/emoji-fever.png" alt="">
            </div>
            <div class="emoji-choice" data-text="cough" id="c">
                <img src="/static/img/emoji-cough.png" alt="">
            </div>
            <div class="emoji-choice" data-text="fatigued" id="y">
                <img src="/static/img/emoji-sleepy.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="vomiting" id="n">
                <img src="/static/img/emoji-nauseous.png" alt="">
            </div>
                        <div class="emoji-choice" data-text="healthy" id="h">
                <img src="/static/img/emoji-happy.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="flu" id="u">
                <img src="/static/img/emoji-flu.png" alt="">
            </div>
            <div class="emoji-choice" data-text="runny nose" id="r">
                <img src="/static/img/emoji-runnynose.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="body ache" id="l">
                <img src="/static/img/emoji-chills.png" alt="">
            </div>
            <div class="emoji-choice" data-text="nauseous" id="s">
                <img src="/static/img/emoji-sick.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="fever" id="f">
                <img src="/static/img/emoji-fever.png" alt="">
            </div>
            <div class="emoji-choice" data-text="cough" id="c">
                <img src="/static/img/emoji-cough.png" alt="">
            </div>
            <div class="emoji-choice" data-text="fatigued" id="y">
                <img src="/static/img/emoji-sleepy.png" alt="">
            </div>
            <div class="emoji-choice oversized" data-text="vomiting" id="n">
                <img src="/static/img/emoji-nauseous.png" alt="">
            </div>
        </div>
    </div>
{% endblock %}