{% extends "template.html" %}

{% block head-css %}
    .top-half {
        text-align: center;
        color: black;
        margin-top: 70px;
        font-weight: 300;
    }
    .top-half .title {
        font-size: 20px;
    }
    .top-half .title span {
        font-weight: normal;
    }
    .top-half .subtitle {
        margin-top: 30px;
        font-size: 18px;
        line-height: 20px;
    }
    img {
        width: 80%;
        text-align: center;
    }
     body {
        background-image: none;
        text-align: center;
     }
{% endblock %}


{% block head-js %}
    $(document).ready( function () {
        setTimeout(function() { window.location = "/visualization/flumoji/splash?datastore_owner={{ uuid }}&bearer_token={{ access_token }}"; }, 3000);
    });
{% endblock %}

{% block content %}
    <div class="top-half">
        <div>
            <img width="80%" src="/static/img/logo_blue_old2.png" />
        </div>
        <div class="subtitle">
            You have been a part of the study for {{ days }} day{{ days|pluralize }}.
        </div>
    </div>
{% endblock %}