{% extends "template.html" %}

{% block head-css %}
    .top-half {
        text-align: center;
        color: white;
        margin-top: 70px;
        font-weight: 300;
    }
    .top-half .title {
        font-size: 20px;
    }
    .top-half .title span {
        font-weight: normal;
    }
    .top-half .subtitle {
        margin-top: 30px;
        font-size: 18px;
        line-height: 20px;
    }
    .ji {
        display: inline-block;
        width: 13px;
        height: 21px;
        background-image: url("/static/img/ji.png");
        background-repeat: no-repeat;
        background-size: 13px 17px;
        background-position: 0px 4px;
        margin-bottom: -4px;
{% endblock %}


{% block head-js %}
    $(document).ready( function () {
        setTimeout(function() { window.location = "/visualization/flumoji/splash?datastore_owner={{ uuid }}&bearer_token={{ access_token }}"; }, 3000);
    });
{% endblock %}

{% block content %}
    <div class="top-half">
        <div class="title">
            Don't Spread Flu, <span>Spread Flumoji!</span>
        </div>
        <div class="subtitle">
            Flumoji is your health wizard.<br/>
            Tell <span class="ji"></span> how you feel and she'll magically <br/>
            learn how to protect you from Flu <br/>
            and other ailments.
        </div>
    </div>
{% endblock %}