{% extends "template.html" %}
{% load cache %}

{% block head-css %}
    {% cache 30 splash-css %}
    .splash-title {
        color: white;
        text-align: center;
        font-size: 22px;
        margin: 50px auto 20px auto;
    }
    .emoji-text {
        text-align: center;
        color: #205fee;
        font-size: 18px;
        position: fixed;
        bottom: 80px;
        width: 100%;
        z-index: 10;
    }
    .subtitle {
        text-align: center;
        color: white;
        font-size: 14px;
        position: fixed;
        top: 105px;
        width: 100%;
    }
    .filter {
        text-align: left;
        padding-left: 5px;
        color: white;
        font-size: 18px;
        line-height: 29px;
        position: fixed;
        bottom: 107px;
        width: 100%;
    }
    .moods, .symptoms {
        color: yellow;
        font-size: 22px;
        float:left;
        width: 48.5%;
    }
    .symptoms {
        text-align: right;
    }
    .status-face {
        background-image: url("//static/img2/blank-face2.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 200px;
        height: 162px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
        padding-bottom: 100px;
    }
    .status-face.occupied {
        background-size: 200px 162px;
        margin-top: 70px;
    }
    .status-face.occupied-oversized {
        background-size: 200px 300px;
        padding-bottom: 170px;
        margin-top: -30px
    }
    .status-face#f {
        margin-top: -22px;
    }
    .status-face#l {
        background-size: 220px 300px;
        width: 220px;
    }
    .status-face#a {
        margin-top: 20px;
    }
    .status-face#b {
        background-size: 230px 200px;
        width: 230px;
        margin-top: 50px;
    }
    .emoji-outer-selection-box {
        width: 100%;
        overflow-x: scroll;
        height: 90px;
        position: fixed;
        bottom: 0px;
        background-color: white;
        padding-top: 30px;
    }
    .emoji-selection-box {
        padding-top:15px;
        width: 1980px;
        height: 50px;
    }
    .emoji-choice img {
        height: 40px;
        width: 46px;
    }
    .emoji-choice.oversized {
        margin-top: -5px;
    }
    .emoji-choice {
        float: left;
        margin-left: 10px;
        margin-right: 10px;
    }
    .emoji-choice.oversized img {
        height: 74.12px;
        width: 46px;
        margin-top: -15px;
    }
    .emoji-choice#l {
        margin-left: 6px;
        margin-right: 6px;
    }
    .emoji-choice#l img {
        width: 54px;
    }
    .emoji-choice#a {
        margin-top: 0px;
    }
    .emoji-choice#b {
        margin-top: -7px;
    }
    .emoji-choice#b img {
        width: 56px;
        height: 50px;
    }
    .checkbox {
        display: none;
        height: 30px;
        width:30px;
        background-repeat: no-repeat;
        background: url("/static/img2/check-box.png");
        position: fixed;
        top: 10px;
        right: 10px;
    }
    .start-scroll, .end-scroll {
        float: left;
    }
    body {
        min-height: 100px;
    }
    #firsttime-dialog {
        display: none;
    }
    {% endcache %}
{% endblock %}


{% block head-js %}
    var redirectTimeout;
    
    $(document).ready( function () {
        var date = new Date();
        var hours = date.getHours();
        if (hours > 3 && hours < 12) {
            var hours_text = "THIS MORNING";
        } else if (hours >= 12 && hours < 6) {
            var hours_text = "THIS AFTERNOON";
        } else {
            var hours_text = "THIS EVENING";
        }
        $(".subtitle").append(hours_text);
        
        $(".emoji-choice").click(function() {
            if (redirectTimeout != "TEMP") {
                clearTimeout(redirectTimeout);
            }
            $(".checkbox").show();
            if ($(this).attr("data-text") != $(".emoji-text").text()) {
                $(".emoji-text").empty().append("<span>" + $(this).attr("data-text") + "</span>").find("span").hide().fadeIn(1500).fadeOut(4000);
            }
            if ($(this).is(".oversized")) {
                $(".status-face").css("background-image", 'url("' + $(this).find("img").attr("src") + '")')
                    .addClass("occupied-oversized").removeClass("occupied").attr("id", $(this).attr("id"));
            } else {
                $(".status-face").css("background-image", 'url("' + $(this).find("img").attr("src") + '")')
                    .addClass("occupied").removeClass("occupied-oversized").attr("id", $(this).attr("id"));
            }
            sendEmoji($(this).attr("id"));
            if (redirectTimeout != "TEMP") {
                redirectTimeout = setTimeout(function() { /*window.location = "/visualization/flumoji/splashRedirect?datastore_owner={{ uuid }}&bearer_token={{ access_token }}";*/ }, 6000);
            } else {
                redirectTimeout = undefined;
            }
        });
        {% if latestEmoji %}
            redirectTimeout = "TEMP";
            $(".emoji-choice#{{ latestEmoji }}").eq(0).click();
        {% endif %}
        
        
        autoScroll();
        
        $('.emoji-outer-selection-box').on('touchstart', function() {
            clearTimeout(redirectTimeout);
            $(this).stop();
        }).scroll(function() {
            if($('.end-scroll').offset().left <= 0) {
                $(this).scrollLeft($('.start-scroll').offset().left + $('.emoji-outer-selection-box').scrollLeft());
            } else if ($('.start-scroll').offset().left >= 0) {
                $(this).scrollLeft($('.end-scroll').offset().left + $('.emoji-outer-selection-box').scrollLeft()-1);
            }
        });
        
        {% comment %}
        $(".moods, .symptoms").fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500)
            .click(function() {
                $('.emoji-outer-selection-box').stop().scrollLeft(0);
                setTimeout(function() { autoScroll(); }, 500);
            });
        $(".moods").click(function() {
            $(".emoji-choice.symptom").hide();
            $(".emoji-choice.mood").show();
        });
        $(".symptoms").click(function() {
            $(".emoji-choice.symptom").show();
            $(".emoji-choice.mood").hide();
        });

        {% if dialog %}
            $("#firsttime-dialog").dialog({ modal: true });
            $(".ui-dialog, .ui-widget-overlay").click(function() {
               $("#firsttime-dialog").dialog("close"); 
            });
            setTimeout('$("#firsttime-dialog").dialog("close"); ', 15000);
        {% endif %}
        {% endcomment %}
    });
    
    function autoScroll() {
        $('.emoji-outer-selection-box').scrollLeft($('.start-scroll').offset().left + $('.emoji-outer-selection-box').scrollLeft())
            .animate({
                scrollLeft: ($(".end-scroll").offset().left + $('.emoji-outer-selection-box').scrollLeft())
             }, 40000, "linear", function() {
             autoScroll();
        });
    }
    
    function sendEmoji(id) {
        $.ajax({
            url: '/visualization/flumoji/sendEmoji',
            type: "POST",
            data: { access_token: "{{ token }}",
                       ds: "{{ uuid }}",
                       emoji: id
                   },
            dataType: "json",
            success: function(returnData) {
               
            }
        });
    }
{% endblock %}

{% block content %}
    {% cache 30 splash-body %}
    <div class="splash-title">
        How are you feeling?
    </div>
        
    <div class="subtitle">
    </div>
    <div class="emoji-text">
        <span></span>
    </div>
    {% comment %}
    <div class="filter">
        filter by:
        <br/>
        <div class="moods">Moods</div>
        <div class="symptoms">Symptoms</div>
    </div>
    {% endcomment %}
    <div class="checkbox"></div>
    
    <div class="status-face"></div>
    
    <div class="emoji-outer-selection-box">
        <div class="emoji-selection-box">
            <!-- moods -->
            <div class="emoji-choice oversized mood" data-text="feeling down" id="d">
                <img src="/static/img2/emoji-down.png" alt="">
            </div>

            <!-- symptoms -->
            
            <div class="emoji-choice" data-text="positive" id="h">
                <img src="/static/img2/emoji-happy.png" alt="">
            </div>
            <div class="emoji-choice" data-text="happy" id="x">
                <img src="/static/img2/emoji-happy2.png" alt="">
            </div>
            <div class="emoji-choice" data-text="worried" id="w">
                <img src="/static/img2/emoji-worried.png" alt="">
            </div>
            <div class="emoji-choice oversized symptom" data-text="flu" id="u">
                <img src="/static/img2/emoji-restless2.png" alt="">
            </div>
            <div class="emoji-choice oversized symptom" data-text="fever" id="f">
                <img src="/static/img2/emoji-fever.png" alt="">
            </div>
            <div class="emoji-choice oversized symptom" data-text="acutely ill" id="i">
                <img src="/static/img2/emoji-acutelyill.png" alt="">
            </div>
            <div class="emoji-choice oversized symptom" data-text="confused" id="c">
                <img src="/static/img2/emoji-confused.png" alt="">
            </div>
            <div class="emoji-choice oversized symptom" data-text="in pain" id="p">
                <img src="/static/img2/emoji-inpain.png" alt="">
            </div>
            <div class="emoji-choice symptom" data-text="fatigued" id="y">
                <img src="/static/img2/emoji-sleepy.png" alt="">
            </div>

            <div class="start-scroll"></div>

            <!-- moods -->
            <div class="emoji-choice oversized mood" data-text="feeling down" id="d">
                <img src="/static/img2/emoji-down.png" alt="">
            </div>

            <!-- symptoms -->
            
            <div class="emoji-choice" data-text="positive" id="h">
                <img src="/static/img2/emoji-happy.png" alt="">
            </div>
            <div class="emoji-choice" data-text="happy" id="x">
                <img src="/static/img2/emoji-happy2.png" alt="">
            </div>
            <div class="emoji-choice" data-text="worried" id="w">
                <img src="/static/img2/emoji-worried.png" alt="">
            </div>
            <div class="emoji-choice oversized symptom" data-text="restless" id="u">
                <img src="/static/img2/emoji-restless2.png" alt="">
            </div>
            <div class="emoji-choice oversized symptom" data-text="fever" id="f">
                <img src="/static/img2/emoji-fever.png" alt="">
            </div>
            <div class="emoji-choice oversized symptom" data-text="acutely ill" id="i">
                <img src="/static/img2/emoji-acutelyill.png" alt="">
            </div>
            <div class="emoji-choice oversized symptom" data-text="confused" id="c">
                <img src="/static/img2/emoji-confused.png" alt="">
            </div>
            <div class="emoji-choice oversized symptom" data-text="in pain" id="p">
                <img src="/static/img2/emoji-inpain.png" alt="">
            </div>
            <div class="emoji-choice symptom" data-text="fatigued" id="y">
                <img src="/static/img2/emoji-sleepy.png" alt="">
            </div>
            
            <div class="end-scroll"></div>
            
            
            <!-- REPEATED ONCE -->
            
            <!-- moods -->
            <div class="emoji-choice oversized mood" data-text="feeling down" id="d">
                <img src="/static/img2/emoji-down.png" alt="">
            </div>

            <!-- symptoms -->
            
            <div class="emoji-choice" data-text="positive" id="h">
                <img src="/static/img2/emoji-happy.png" alt="">
            </div>
            <div class="emoji-choice" data-text="happy" id="x">
                <img src="/static/img2/emoji-happy2.png" alt="">
            </div>
            <div class="emoji-choice" data-text="worried" id="w">
                <img src="/static/img2/emoji-worried.png" alt="">
            </div>
            <div class="emoji-choice oversized symptom" data-text="restless" id="u">
                <img src="/static/img2/emoji-restless2.png" alt="">
            </div>
            <div class="emoji-choice oversized symptom" data-text="sick" id="f">
                <img src="/static/img2/emoji-fever.png" alt="">
            </div>
            <div class="emoji-choice oversized symptom" data-text="acutely ill" id="i">
                <img src="/static/img2/emoji-acutelyill.png" alt="">
            </div>
            <div class="emoji-choice oversized symptom" data-text="confused" id="c">
                <img src="/static/img2/emoji-confused.png" alt="">
            </div>
            <div class="emoji-choice oversized symptom" data-text="in pain" id="p">
                <img src="/static/img2/emoji-inpain.png" alt="">
            </div>
            <div class="emoji-choice symptom" data-text="fatigued" id="y">
                <img src="/static/img2/emoji-sleepy.png" alt="">
            </div>
            
            
        </div>
    </div>
    
    {% comment %}
    <div id="firsttime-dialog">
        Now that you've installed the app, let's get started. <br/><Br/>Start off by telling Flumoji how you feel. You can do this by selecting the Flumoji that represents your current state.
    </div>
    {% endcomment %}
    {% endcache %}
{% endblock %}