{% extends "template.html" %}

{% block head-css %}
    body {
        background-color: #f8f8f8;
        background-image: none;
    }
    .media {
        border-bottom: #b9b9b9 1px solid;
        margin: 10px;
        padding-bottom: 10px;
    }
    .media:last-child {
        border: none;
    }
    .media-title {
        font-family: 'Roboto Medium', sans-serif;
        font-size: 18px;
        color: #343434;
        margin-bottom: 10px;
    }
    .media:first-child {
        padding-top: 20px;
    }
{% endblock %}

{% block content %}
    <div class="media">
        <div class="media-title">Influenza, an Unpredictable Threat</div>
        <iframe width="330" height="185" src="https://www.youtube.com/embed/yhhJfT86Bgg" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="media">
        <div class="media-title">Flu Vaccine Risks and Benefits</div>
        <iframe width="330" height="185" src="https://www.youtube.com/embed/2h09oj26_H0" frameborder="0" allowfullscreen></iframe>
    </div>
    
    <div class="media">
        <div class="media-title">What is the flu?</div>
        <iframe width="330" height="185" src="https://www.youtube.com/embed/wiWRUuRDXvc" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="media">
        <div class="media-title">Catching and Spreading the Flu</div>
        <iframe width="330" height="185" src="https://www.youtube.com/embed/6vy5CX6vK0I" frameborder="0" allowfullscreen></iframe>
    </div>
    
{% endblock %}
