{% extends "template.html" %}

{% block head-css %}
    body {
        background-color: #f8f8f8;
        background-image: none;
    }
    .media {
        border-bottom: #b9b9b9 1px solid;
    }
    .media:last-child {
        border: none;
    }
    .media-title {
        font-family: 'Roboto Medium', sans-serif;
        font-size: 18px;
        color: #343434;
        margin-bottom: 10px;
    }
    .media:first-child {
    }
{% endblock %}

{% block content %}
    <div class="media">
        <!--<div class="media-title">Welcome to LiverSmart</div>-->
        <iframe onload="this.width=window.innerWidth;this.height=window.innerHeight;" src="https://www.youtube.com/embed/n8fPggXgqjE?cc_load_policy=0&rel=0" frameborder="0"></iframe>
        <!--<iframe onload="this.width=window.innerWidth;this.height=window.innerHeight;" src="https://www.youtube.com/embed/tCEJzWh42sw?cc_load_policy=0&rel=0" frameborder="0"></iframe>
        -->
    </div>
    
{% endblock %}

